# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtualenv
venv/
.venv/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Temp & swap
*.swp
*.tmp
*~

# Secrets
secrets/
